@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.td-none {
    text-decoration: none;
}

.text-blue{
    color: rgb(2, 105, 173);
}

.bg-blue {
    background: rgb(2, 105, 173);
}

.border-bottom-blue {
    border-bottom: .50rem solid rgb(2, 105, 173);
}

.text-gray {
    color: rgb(102, 102, 102);
}

.w-min-content {
    width: min-content;
}

.bg-gray {
    background: rgba(37, 37, 37, 0.308);
}

.border-gray {
    border: none;
    border-bottom: .15rem solid rgba(37, 37, 37, 0.503);;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #000;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(2, 105, 173);
    border-radius: 20px; 
    border: 3px solid  rgb(2, 105, 173);
  }