// import npm bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


// style text decoration none
.td-none {
    text-decoration: none;
}


// style width min content
.w-min-content {
    width: min-content;
}


// style color lightblue
.text-blue{
    color: rgb(2, 105, 173);
    transition: all .5s;
}

.bg-blue {
    background: rgb(2, 105, 173);
}

.border-bottom-blue {
    border-bottom: .50rem solid rgb(2, 105, 173);
}


// style color gray
.text-gray {
    color: rgb(102, 102, 102);
}

.bg-gray {
    background: rgba(37, 37, 37, 0.308);
}

.border-gray {
    border: none;
    border-bottom: .15rem solid rgba(37, 37, 37, 0.503);;
}

.scroll-behivor {
    padding-top: 5rem;
}

// scroll style
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #000;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(2, 105, 173);
    border-radius: 20px; 
    border: 3px solid  rgb(2, 105, 173);
  }

// hover navbar
.navbar-hover {
    color: #fff;
    transition: all .5s;
}

.navbar-hover:hover {
    color: rgb(2, 105, 173);
}
